<h2>Edit Reservation</h2>

<%= render "form.html", Map.put(assigns, :action, mock_reservation_path(@conn, :update, @reservation)) %>

<span><%= link "Back", to: mock_reservation_path(@conn, :index) %></span>
